body, p, h1, h2, h3 {
  margin: 0;
  font-family: "Assistant", sans-serif;
}

.background {
  position: absolute;
  z-index: -1;
}

.logo-img {
  width: 70px;
  object-fit: contain;
}

.title {
  font-size: 30px;
  line-height: 46px;
  font-weight: 600;
}

.search {
  padding: 16px 24px;
  width: 342px;
  height: 52px;
  border-radius: 40px;
  border: 0.632166px solid #004990;
  background: white;
  box-sizing: border-box;
  text-align: end;
  font-size: 16px;
  line-height: 21px;
}

.btn {
  border: 2px solid #004990;
  border-radius: 40px;
  cursor: pointer;
  height: 48px;
  width: 180px;
}
.btn:hover {
  box-shadow: 0px 0px 20px 5px rgba(66, 68, 90, 0.51);
}
.btn-h-lg {
  height: 62px;
}
.btn-w-lg {
  width: 205px;
}
.btn-w-md {
  width: 192px;
}
.btn-w-s {
  width: 140px;
}
.btn-w-xs {
  width: 120px;
}
.btn-gray {
  background-color: #596172;
  border: none;
  color: white;
  box-shadow: 0px 4px 14px rgba(15, 15, 15, 0.4);
  font-weight: 700;
  font-size: 18px;
}
.btn-blue {
  color: #004990;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
}
.btn-blue-footer {
  height: 52px;
}
.btn-white {
  background-color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn-white p {
  font-size: 18px;
}
.btn-red {
  border: 2.5523px solid #F15B62;
  border-radius: 51.046px;
  color: #F15B62;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  background-color: transparent;
  cursor: pointer;
}
.btn-red:hover {
  box-shadow: 0px 0px 20px 5px rgba(66, 68, 90, 0.51);
}
.btn-red-head {
  font-size: 18px;
}
.btn-red-filled {
  background-color: #F15B62;
  color: white;
  box-shadow: 0px 4px 14px rgba(241, 91, 98, 0.4);
}
.btn-red-filled:hover {
  box-shadow: 0px 0px 20px 5px rgba(66, 68, 90, 0.51);
}

.header-container {
  display: grid;
  grid-template-columns: auto minmax(300px, 1440px) auto;
}

.container {
  display: grid;
  grid-template-columns: auto minmax(300px, 1280px) auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.header-input-box {
  padding: 16px;
  background-color: white;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
  border-radius: 102px;
  width: 600px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
.header-input-box input {
  padding: 16px 24px;
  width: 342px;
  height: 52px;
  border-radius: 40px;
  border: none;
  background: white;
  box-sizing: border-box;
  text-align: end;
  font-size: 24px;
  line-height: 31px;
}
.header-text {
  color: white;
  width: 520px;
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: end;
  text-align: end;
  padding: 0 17px;
}
.header-text-container {
  display: grid;
  grid-template-columns: auto minmax(300px, 880px) auto;
  justify-items: end;
}
.header-text h1 {
  font-size: 64px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
  font-weight: 500;
}

.top-bar {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 72px;
  padding: 30px 17px 0;
}
.top-bar-group {
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
}
.top-bar-group p {
  font-size: 20px;
}
.top-bar-group-dropdown {
  display: flex;
}
.top-bar-group-icons {
  text-align: center;
}
.top-bar-group-icons p {
  font-size: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 124px;
  margin: 70px 0 124px;
}

.help {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 42px;
  padding: 0 17px;
}
.help-box {
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
  border-radius: 24px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}
.help-box:hover {
  box-shadow: 0px 0px 20px 5px rgba(66, 68, 90, 0.51);
}
.help-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 17px;
}
.help-cards p {
  font-size: 18px;
  line-height: 18px;
}
.help-img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.good-to-know {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 42px;
  padding: 0 17px;
}
.good-to-know-box {
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.09);
  border-radius: 24px;
  padding: 13px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.good-to-know-box:hover {
  box-shadow: 0px 0px 20px 5px rgba(66, 68, 90, 0.51);
}
.good-to-know-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 17px;
}
.good-to-know-cards p {
  font-size: 16px;
  line-height: 18px;
}
.good-to-know-cards h3 {
  font-size: 20px;
  line-height: 26px;
}
.good-to-know-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.good-to-know-link {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.good-to-know-link img {
  width: 4px;
  height: 8px;
}
.good-to-know-link p {
  font-size: 18px;
  line-height: 24px;
  color: #004990;
}
.good-to-know-img {
  object-fit: cover;
  width: 100%;
}

.bubble {
  position: relative;
  text-align: center;
}
.bubble-img-scaled {
  visibility: visible;
  width: 100%;
}
.bubble p {
  font-size: 18px;
  line-height: 24px;
}

.granny-girl {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.granny-girl-img {
  max-width: 585px;
  width: 100%;
}
.granny-girl-title {
  text-align: center;
}
.granny-girl-title p {
  font-size: 18px;
}
.granny-girl-description {
  max-width: 540px;
  font-size: 24px;
  line-height: 31px;
}
.granny-girl-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.video {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
}
.video img {
  max-width: 920px;
  width: 100%;
}

.footer-form-content {
  height: 160px;
  background-image: url("https://yahorstuff.s3.eu-central-1.amazonaws.com/purple-test/footer.png");
  background-repeat: round;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 24px;
  box-sizing: border-box;
  justify-items: end;
  align-items: center;
  padding: 0 17px;
}
.footer-form-text {
  text-align: end;
  color: #004990;
}
.footer-form-text p {
  line-height: 20px;
}
.footer-form-text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.footer-info {
  background-color: rgba(36, 60, 204, 0.05);
}
.footer-info-content {
  display: grid;
  grid-template-columns: 1fr repeat(4, auto);
  gap: 75px;
  padding: 56px 17px;
}
.footer-info-item {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
}
.footer-info-item h2 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
  color: #004990;
}
.footer-info-item h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.footer-info-item p {
  font-size: 18px;
  line-height: 20px;
  text-align: end;
}
.footer-color {
  background-color: #d4e0ee;
  border-left: 1px solid #d4e0ee;
  border-right: 1px solid #d4e0ee;
}
.footer-icons {
  display: flex;
  gap: 12px;
}
.footer-contacts {
  background-color: #EDEEF8;
}
.footer-contacts-content {
  display: grid;
  grid-template-columns: auto minmax(100px, 683px);
  justify-items: end;
  gap: 220px;
  padding: 0 17px 40px;
}
.footer-contacts-content-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding-top: 15px;
}
.footer-contacts-content-left h3 {
  font-size: 20px;
}
.footer-contacts-content-left-icons {
  text-align: center;
}
.footer-contacts-content-left-icons p {
  font-size: 14px;
}
.footer-contacts-content-right {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}
.footer-contacts-content-right p {
  text-align: end;
  font-size: 14px;
  line-height: 21px;
}
.footer-contacts-content-powered {
  display: flex;
  gap: 6px;
}

.mr-60 {
  margin-right: 60px;
}

@media (max-width: 1440px) {
  .background {
    width: 100vw;
  }
}
@media (max-width: 1133px) {
  .footer-form-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0 24px;
  }
  .footer-info-content {
    grid-template-columns: repeat(3, minmax(160px, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }
  .footer-contacts-content {
    gap: 100px;
  }
  .mr-60 {
    margin: 0;
  }
  .top-bar {
    grid-template-columns: 1fr auto;
    gap: 0 72px;
  }
  .sponsor-icon {
    visibility: hidden;
    height: 0;
  }
  .header {
    gap: 30px;
  }
  .header-text {
    width: inherit;
  }
  .header-text h1 {
    font-size: 54px;
  }
}
@media (max-width: 750px) {
  .btn-white {
    justify-self: end;
  }
  .footer-form-content {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
    background-image: none;
    background-color: #d4e0ee;
    height: inherit;
    gap: 10px;
    padding: 17px;
  }
  .footer-info-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .top-bar {
    grid-template-columns: 1fr;
    gap: 0 72px;
  }
  .top-bar-group {
    visibility: hidden;
    height: 0;
    width: 100px;
  }
  .footer-contacts-content {
    gap: 10px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .header {
    gap: 10px;
  }
  .header-input-box {
    width: 80%;
  }
  .header-text {
    width: inherit;
  }
  .header-text h1 {
    font-size: 28px;
  }
}
@media (max-width: 435px) {
  .footer-info-content {
    grid-template-columns: 1fr;
  }
  .granny-girl-buttons {
    flex-wrap: wrap;
    padding: 0 17px;
  }
  .search {
    width: 100%;
  }
  .header-input-box input {
    width: 100%;
  }
  .footer-contacts-content-left-icons {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=style.css.map */
